body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffd2fe;
}
.container {
    position: relative;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 100px;
}
.container .card {
    position: relative;
    max-width: 300px;
    height: 250px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 200px rgb(251, 91, 230);
    transition: 0.5s ease-in-out;
}
.container .card:hover {
    height: 470px;
}

.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgb(251, 91, 230);
}

.container .card p {
    margin-top: 10px;
}
.container .card .imgBx img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
}
.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content  {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.5s;
}